<div class="container container_contacto">
	<div class="col">
		
		<div>
			<h1 id="h1_contacto">Contacto</h1>
			<div>
				<div class="contacto_Bloq_1">

					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
						<label for="floatingInput">Nombre:</label>
					</div>

					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
						<label for="floatingInput">Apellido:</label>
					</div>

					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
						<label for="floatingInput">Email:</label>
					</div>

					<div class="form-floating">
						<textarea class="form-control" placeholder="Mensaje:" id="floatingTextarea2" style="height: 100px"></textarea>
						<label for="floatingTextarea2">Mensaje:</label>
					</div>

					<div class="text-start ">
						<button class="btn button_enviar_contacto">Enviar</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

